<% provide :title, t(:HEADER_CONTACT) %>
<h1><%= t :HEADER_CONTACT %></h1>

<% flash.each do |key, value| %>
<div class="<%= "flash-#{key}" %>"><%= value %></div>
<% end %>

<%= form_tag contact_path, method: :post, id: 'contact-form'  do %>
  <%= raw negative_captcha(@captcha) %>
  <div><%= negative_label_tag @captcha, :subject, t(:FORM_SUBJECT) %>
  <%= negative_text_field_tag @captcha, :subject %></div>

  <div><%= negative_label_tag @captcha, :email, t(:FORM_EMAIL), class: :required %>
  <%= negative_text_field_tag @captcha, :email, 'data-validation' => 'validate_email' %>
</div>
  <div><%= negative_label_tag @captcha, :message, t(:FORM_MESSAGE), class: :required %>
  <%= negative_text_area_tag @captcha, :message, 'data-validation' => 'required' %></div>

  <%= submit_tag t(:SEND_MESSAGE_BUTTON) %>
<% end %>