  <div id="homepage-content">
    <section class="first-row">
    <h1 class="f1"><%= t(:H_RESOLUTION) %></h1>
      <p><%= t(:C_RESOLUTION) %></p>
    </section>
    <section class="first-row">
    <h1 class="f2">WiFi</h1>
      <p><%= t(:C_WIFI) %></p>
    </section>
    <section class="first-row">
    <h1 class="f3">Micro SD</h1>
      <p><%= t(:C_MICRO_SD) %></p>
    </section>
    <section class="first-row first-row-last">
    <h1><%= t(:H_IMPRESSIONS) %></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </section>

    <section class="second-row clear-left">
    <h1 class="s1">USB</h1>
      <p><%= t(:C_USB) %></p>
    </section>
    <section class="second-row">
    <h1 class="s2"><%= t(:H_SLIM) %></h1>
      <p><%= t(:C_SLIM) %></p>
    </section>
    <section class="second-row">
    <h1 class="s3"><%= t(:H_HDMI) %></h1>
      <p><%= t(:C_HDMI) %></p>
    </section>
  </div>